.photo {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.clearPhotoBtn {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid red;
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 12px;
  line-height: 12px;
  color: red;
  cursor: pointer;
  transition: background-color 0.3s;
}

.clearPhotoBtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.img {
  display: block;
  width: 120px;
  height: 120px;
  object-fit: contain;
  object-position: center;
  overflow: hidden;
  border-radius: 5px;
}

.positions {
  display: flex;
  justify-content: center;
}
