.root {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.1);
}