.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switcherInPDF {
  display: none;
}

.toggleCircle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: blue;
  border-radius: 34px;
  transition: background-color 0.2s ease;
}

.toggleCircle::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.theme-switch.dark .toggle-label {
  background-color: blue;
}

.theme-switch.dark .toggle-label:before {
  transform: translateX(26px);
  background-color: black;
}
